body {
    background-image: url(images/zhongli-namecard.png);
    background-size: cover;
    background-position: top;
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    font-size: 18px;
    margin:0;
    line-height: 1.5;
    text-align: center;
  }

header {
    background-color: rgba(185, 156, 113, 0.80);
    color: #614539;
    width: 70%;
    padding: 50px 0px;
    margin: 0 auto;
}

header h1{
    padding: 0px 30px;
}

.container {
    background-color: rgb(232, 198, 96);
    font-weight: bold;
    color: #af5427;
    width: 70%;
    margin: 0 auto;
}

.image-container{
    padding: 150px;
    background-image: url(images/recipe.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.container section {
    padding: 50px 30px;
}

.container h2{
    font-weight: bold;
    color: #af5427;
    border: 3px solid #f1f1f1;
    width: 70%;
    margin: 0 auto;
    text-align: center;
}

.flex-container{
    display:flex;
}

.dropdown {
    display: flex;
    position: relative;
    flex: 1;
}

.dropbtn {
    background-color: rgba(59, 47, 46,0.85);
    color: #f7df99;
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    font-size: 18px;
    font-weight: bold;
    border: 2px solid #b99c71;
    cursor: pointer;
    padding: 15px 10px;
    width:100%;
}

.dropdown-content {
    display: none;
    position: absolute;
    top:100%;
    left:0;
    right:0;
    background-color: #af5427;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content .btn:link {
    color: #f7df99;
    text-decoration: none;
    padding: 12px 16px;
    display:block;
}

.dropdown-content .btn:hover,
.dropdown-content .btn:focus,
.dropdown-content .btn:active {
    background-color: rgb(178, 132, 109);
    color: #f7df99;
    border-color: #3b2f2e;  
}

.dropdown-content .btn:visited {color:#1c160d;}

.dropdown:hover .dropdown-content{
    display: flex;
    flex-direction: column;
}

.dropdown:hover .dropbtn{
    background-color: #760202;
}

.container .lk:link {
    color: #614539;
    text-decoration: none;
}

.container .lk:visited {
    color: #8f6f3f;
}

.container .lk:hover,
.container .lk:focus,
.container .lk:active {
    color: #a40e0e;
}

.container footer{
    padding: 0 30px;
    padding-top: 100px;
    padding-bottom: 10px;
}
